<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Bees'Nest</title>
	<link rel="icône de raccourci" href="img/abeille01.ico" type="image/x-icon">
	<link rel="StyleSheet" href="styles/beesnest.css" type="text/css">
	<link rel="StyleSheet" href="styles/admin.css" type="text/css">
	
	<!-- Bootstrap -->
	<link rel="stylesheet" href="webjars/bootstrap/4.4.1-1/css/bootstrap.min.css" media="screen"/>
	<script src="webjars/jquery/3.4.0/jquery.min.js"></script>  
	<script src="webjars/bootstrap/4.4.1-1/js/bootstrap.min.js"></script>   
	<script src="webjars/popper.js/1.14.3/popper.min.js"></script>  
</head>
<body>
	<div class="container">
		<div th:replace="fragments/entete.html :: entete"></div>
		<h2>Gestion des entreprises</h2>
		<h3>Nouvelle entreprise</h3>
		<form action="#" th:action="@{/AdminEntreprise}" th:object="${entreprise}" method="post">
			<label for="nom">Nom : </label>
			<input type="text" th:field="*{nom}" id="nom" placeHolder="Nom"> 
			<span th:if="${#fields.hasErrors('nom')}" th:errors="*{nom}"></span>
			<br>
			<input type="submit" class="btn-success" value="Ajouter"/>
		</form>
		<br>
		<h3>Liste des entreprises</h3>
		<table class="table">
			<thead class="thead-light">
				<tr><th>Nom</th><th>Équipe</th><th></th></tr>
			</thead>
			<tbody>
					<tr th:each = "e: ${entreprises}">
						<td th:text = "${e.nom}" />
						<td> - </td>
						<td><a th:href="@{SupprimerEntreprise(id=${e.id})}"><img src="img/supprimer.png"></a></td>
					</tr>
			</tbody>
			
		</table>
			
	</div>

</body>
</html>