<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Bees'Nest</title>
	<link rel="icône de raccourci" href="img/abeille01.ico" type="image/x-icon">
	<link rel="StyleSheet" href="styles/beesnest.css" type="text/css">
	<link rel="StyleSheet" href="styles/admin.css" type="text/css">
	
	<!-- Bootstrap -->
	<link rel="stylesheet" href="webjars/bootstrap/4.4.1-1/css/bootstrap.min.css" media="screen"/>
	<script src="webjars/jquery/3.4.0/jquery.min.js"></script>  
	<script src="webjars/bootstrap/4.4.1-1/js/bootstrap.min.js"></script>   
	<script src="webjars/popper.js/1.14.3/popper.min.js"></script>  
</head>
<body>
	<div class="container">
		<div th:replace="fragments/entete.html :: entete"></div>
		<div class="row">
			<div class="col-lg-6">

				<h2>Gestion des équipes</h2>
				<h3>Nouvelle équipe</h3>
				<form action="#" th:action="@{/AdminEquipe}" th:object="${equipe}" method="post">
					<label for="pseudo">Pseudo : </label>
					<input type="text" th:field="*{pseudo}" id="pseudo" placeHolder="Pseudo"> 
					<span th:if="${#fields.hasErrors('pseudo')}" th:errors="*{pseudo}"></span>
					<br>
					<!-- NB : l'entreprise est affectée dès la création de l'équipe,
						ce qui contraint fortement le professeur en cas d'erreur,
						mais permet de bénéficier à plein de Thymeleaf. -->
					<label for="entEquipe">Entreprise : </label>
					<select id="entEquipe" th:field="*{entreprise}" class="selectpicker">
						<option th:each="entreprise : ${entreprises}"
							th:value="${{entreprise}}"
							th:utext="${entreprise.nom}"/>
						</select>
					<br>
						<input type="submit" class="btn-success" value="Ajouter l'équipe"/>
				</form>
				<br>
				<h3>Nouvel étudiant</h3>
				<form action="#" th:action="@{/AdminEtudiant}" th:object="${etudiant}" method="post">
					<label for="nom">Nom : </label>
					<input type="text" th:field="*{nom}" id="nom" placeHolder="Nom"> 
					<span th:if="${#fields.hasErrors('nom')}" th:errors="*{nom}"></span>
					<br>
					<label for="email">Email : </label>
					<input type="text" th:field="*{email}" id="email" placeHolder="Email"> 
					<span th:if="${#fields.hasErrors('nom')}" th:errors="*{nom}"></span>
					<br>
					<!-- NB : l'équipe est affectée dès la création de l'étudiant,
						car ça n'a pas de sens de changer une fois la partie commencée. -->
					<label for="eqEtudiant">Équipe : </label>
					<select id="eqEtudiant" th:field="*{idEquipe}" class="selectpicker">
						<option th:each="equipe : ${equipes}"
						   th:value="${{equipe.id}}"
						   th:utext="${equipe.pseudo}"/>
					 </select>
					<br>
					<input type="submit" class="btn-success" value="Ajouter l'étudiant"/>
				</form>
			</div>
			
			<div class="col-lg-6">

				<h2>Liste des équipes</h2>
				<ul th:each = "equ: ${equipes}">
					<li>
						<table class="table">
							<thead class="thead-light">
								<tr><th>Pseudo</th><th>Entreprise</th><th>Prévenir</th><th></th></tr>
							</thead>
							<tbody>
									<tr>
										<td th:text = "${equ.pseudo}" />
										<td th:text = "${equ.entreprise.nom}" />
										<td><a th:href="${equ.mail}"><img src="img/abeilleO1-16x16.png" title="Envoyez les paramètres de connexion aux étudiants."></a></td>
										<td><a th:href="@{SupprimerEquipe(id=${equ.id})}"><img src="img/supprimer.png" title="Sa suppression effacera aussi ses étudiants"></a></td>
									</tr>
							</tbody>
							
						</table>
						<table class="table">
							<thead class="thead">
								<tr><th>Nom</th><th>Email</th><th></th></tr>
							</thead>
							<tbody>
									<tr th:each = "et: ${equ.etudiants}">
										<td th:text = "${et.nom}" />
										<td th:text = "${et.email}" />
										<td><a th:href="@{SupprimerEtudiant(id=${et.id}, idEquipe=${equ.id})}"><img src="img/supprimer.png"></a></td>
									</tr>
							</tbody>
							
						</table>
		
					</li>
				</ul>
			</div>
		</div>
	</div>

</body>
</html>