<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Bees'Nest</title>
	<link rel="icône de raccourci" href="img/abeille01.ico" type="image/x-icon">
	<link rel="StyleSheet" href="styles/beesnest.css" type="text/css">
	<link rel="StyleSheet" href="styles/admin.css" type="text/css">
	
	<!-- Bootstrap -->
	<link rel="stylesheet" href="webjars/bootstrap/4.4.1-1/css/bootstrap.min.css" media="screen"/>
	<script src="webjars/jquery/3.4.0/jquery.min.js"></script>  
	<script src="webjars/bootstrap/4.4.1-1/js/bootstrap.min.js"></script>   
	<script src="webjars/popper.js/1.14.3/popper.min.js"></script>
	<!-- Google Charts -->
	<script src="webjars/chartjs/2.9.3/Chart.js"></script>  
</head>
<body>
	<div class="container">
		<img src="img/BeesNest.png" alt="Logo Bees'Nest" border="0" />
		<!-- Rem : insertion de texte via un th, qui demande un span, qui doit être masqué-->
		<h2><span th:text="${equipe.entreprise.nom}" th:remove="tag">Entreprise</span></h2>
		
		<h3><span th:text="${equipe.pseudo}" th:remove="tag">Equipe</span></h3>

		<th:block th:each = "et: ${equipe.etudiants}">
			<strong th:text = "${et.nom}" /> (<span th:text = "${et.email}" />) &nbsp; &nbsp;
		</th:block>

		<div class="row">
			<div class="col-lg-6">
				<h4>Résultats comptables</h4>

				<table class="table resultats">
					<thead class="thead-light">
						<tr><th colspan="3">Exercice</th><th>C.A.</th><th>Bénéfices</th><th></th></tr>
					</thead>
					<tbody>
							<tr th:each = "rc: ${equipe.entreprise.resultats}">
								<td th:text = "${rc.exercice.code}" />
								<td th:text = "${#dates.format(rc.exercice.debut, 'dd/MM/yyyy')}" />
								<td th:text = "${#dates.format(rc.exercice.fin, 'dd/MM/yyyy')}" />
								<td th:text = "${rc.chiffreAffaires}" />
								<td th:text = "${rc.benefice}" />
							</tr>
					</tbody>
					
				</table>
			</div>
			<div class="col-lg-6">
				<h4>Statistiques</h4>
				<h5>Activité commerciale</h5>
				<canvas id="graphCA" width="300" height="250"></canvas>

<script type="text/javascript" th:inline="javascript">
	var lblTitre = "Chiffre d'affaires";
	var tabLabels = [];
	/*[# th:each="res : ${equipe.entreprise.resultats}"]*/
		tabLabels.push("[(${res.exercice.code})]");
	/*[/]*/
	var tabData = [];
	/*[# th:each="res : ${equipe.entreprise.resultats}"]*/
		tabData.push("[(${res.chiffreAffaires})]");
	/*[/]*/


	var ctx = document.getElementById('graphCA').getContext('2d');
	var myChart = new Chart(ctx, {
		type: 'bar',
		data: {
			labels: tabLabels,
			datasets: [{
				label: lblTitre,
				data: tabData
			}]
		},
		options: {
			scales: {
				yAxes: [{
					ticks: {
						beginAtZero: true
					}
				}]
			}
		}
	});
</script>
			</div>
		</div>
	</div>

</body>
</html>