@charset "UTF-8";

body {
	font-family: "Open Sans",Helvetica,Arial,sans-serif;
	font-size: 12px;
	color: #363636;
	text-align: left;
}

.ligne {
	padding: 1.5% 3%;
	margin-left: -3%;
	line-height: 1.5;
}

.cellule {
	float: left;
	width: 47%;
	margin-left: 3%;
}
.cellule-image {
	float: left;
}
.cellule-conteneur {
	margin-left: 50px;
}

li {
	list-style-image: url('../img/hexagone.png');
}

.nav-link {
	background-color: #fff5d5;
	margin: 1px;
	list-style-image: url('../img/hexagone.png');
}

/* texte du bouton de choix de fichier */
.custom-file-input ~ .custom-file-label:lang(fr)::after {
	content: "Choisir...";
  }