@charset "UTF-8";

body {
	color: #5B5B5B;
	font-family: "Lucida Sans Unicode", "Lucida Grande", Geneva, Verdana, Arial, sans-serif;
	margin-top: 30px;
	text-align: center;
}
body > .container {
	background: url(../img/Bandeau.png) repeat-x;

}

.wrapper {
	margin-left: auto;
	margin-right: auto;
	width: 50em;
	text-align: left;
}

.content {
	margin: 0;
	padding: 0;
}

h1 {
/*	padding-top: 10px;
	padding-bottom: 0px;
	margin-bottom: 0px;*/
	color: #707070;
}
h2 {
/*	margin-top: 0px;
	padding-top: 0px;*/
	color: #707070;
}

a {
	text-decoration: none;
	color: #5e8a9a;
}
a:hover {
	text-decoration: underline;
	color: #8ec6d9;
}

.logo {
	margin-bottom: 10px;
}

.note {
	font-size: 8pt;
	color: #aaaaaa;
	float: none;
}

.retour {
	padding: 10px;
}
